.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .contact-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  
  .contact-info {
    display: flex;
    align-items: center;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    background-color: #450d59;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  
  .details {
    display: flex;
    flex-direction: column;
  }
  
  .name {
    font-weight: bold;
  }
  
  .group {
    color: #666;
    font-size: 0.8em;
  }
  
  /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #450d59;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .contact-form {
    max-width: 350px;
    margin: 40px auto;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form label span {
    display: block;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="checkbox"] {
    width: 100%;
    padding: 14px;
    margin-top: 2px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}

.contact-form input[type="checkbox"] {
    width: auto;
}

.contact-form button {
    background-color: #450d59; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    float: right;
    font-size: 20px;
}

.contact-form button:hover {
    background-color: #31093f;;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.contact-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.edit-btn {
    display: none;
    position: absolute;
    right: 70px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffffff00;
    color: #2e126d;
    border: none;
    cursor: pointer;
    padding: 5px 5px;
    font-size: 20px;
}
.trash-btn {
  display: none;
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  background: #ffffff00;
  color: #2e126d;
  border: none;
  cursor: pointer;
  padding: 5px 5px;
  font-size: 17px;
}
.trash-btn:hover{
  color:rgb(165, 14, 14);
}
.edit-btn:hover{
  color:rgb(11, 93, 3);
}
.contact-item:hover .edit-btn{
    display: block;
}
.contact-item:hover .trash-btn{
  display: block;
}
.group-items{
  padding: 10px;
}
.group-items input[type=checkbox] {
  display:none;
}

.group-items {

}

.group-items:hover {
  background-color: #e0e0e0;
}

.group-filters {
  display: ruby;
}

.group-filters label {
    font-size: .825em;
	text-decoration: none;
	font-weight: 700;
	padding: .35em 1em;
	background-color: #eaeef1;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
	border-radius: 3px;
	color: #450d59;
	text-shadow: 0 1px 1px rgba(255,255,255,.7);
	box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
  border:0px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}

.group-filters label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  background-color: #fff;
  border-radius: 3px;
}

.group-filters input[type="checkbox"]:checked + label {
  background-color: #d0d3d6;
	background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
	box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
  color: #a5300c;
}

.group-filters label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  display: none;
}

.group-filters input[type="checkbox"]:checked + label:after {
  display: block;
}

.group-filters input[type="checkbox"] {
  display: none; /* Hide checkbox */
}
